body{
    background-color: olivedrab;
    background-image: url/img/background.jpg;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

h1 {
    text-align: center;
}

div{
    text-align: center;
    height: auto;
    width: 300px;
    margin: auto;
    padding: 10px;
}

div.recipe{
    color: white;
    background-color: brown;
    font-weight: bolder;
}

img{
    height: auto;
    width: 200px;
    margin: 10px auto;
}

a{
    color: white;
    text-decoration: none;
}
